/* top */
body, html {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    color: #0f0f19;
    background-color: #f7f7f7;
}

/* dance dude circle elements */
svg#circles {
    position: absolute;
    top: -300px;
    left: -250px;
}

#dance_dude_container {
    position: absolute;
    top: -300px;
    left: -250px;
    display: block;
    width: 800px;
    height: 800px;
    text-align: center;
    line-height: 800px;
}

#dance_dude {
    animation: dance_anim ease-in-out 1s infinite alternate;
    -moz-animation: dance_anim ease-in-out 1s infinite alternate;
    -webkit-animation: dance_anim ease-in-out 1s infinite alternate;
    -o-animation: dance_anim ease-in-out 1s infinite alternate;
}

@keyframes dance_anim {
    0% {transform: scale(0.9) rotate(-15deg); }
    20% {transform: scale(1.1) rotate(10deg); }
    40% {transform: scale(0.9) rotate(-20deg); }
    60% {transform: scale(1.1) rotate(5deg); }
    80% {transform: scale(0.9) rotate(-20deg); }
    100% {transform: scale(1.1) rotate(5deg); }
}

@-webkit-keyframes dance_anim {
    0% {-webkit-transform: scale(0.9) rotate(-15deg); }
    20% {-webkit-transform: scale(1.1) rotate(10deg); }
    40% {-webkit-transform: scale(0.9) rotate(-20deg); }
    60% {-webkit-transform: scale(1.1) rotate(5deg); }
    80% {-webkit-transform: scale(0.9) rotate(-20deg); }
    100% {-webkit-transform: scale(1.1) rotate(5deg); }
}

@-moz-keyframes dance_anim {
    0% {-moz-transform: scale(0.9) rotate(-15deg); }
    20% {-moz-transform: scale(1.1) rotate(10deg); }
    40% {-moz-transform: scale(0.9) rotate(-20deg); }
    60% {-moz-transform: scale(1.1) rotate(5deg); }
    80% {-moz-transform: scale(0.9) rotate(-20deg); }
    100% {-moz-transform: scale(1.1) rotate(5deg); }
}

@-o-keyframes dance_anim {
    0% {-o-transform: scale(0.9) rotate(-15deg); }
    20% {-o-transform: scale(1.1) rotate(10deg); }
    40% {-o-transform: scale(0.9) rotate(-20deg); }
    60% {-o-transform: scale(1.1) rotate(5deg); }
    80% {-o-transform: scale(0.9) rotate(-20deg); }
    100% {-o-transform: scale(1.1) rotate(5deg); }
}

/* header elements */
#header {
    display: block;
    margin: 0 0 0 450px;
}

h1 {
    font-size: 50pt;
    font-weight: 700;
    line-height: 170px;
}

p {
    font-size: 15pt;
    margin: 0;
}

/* content elements */
#content {
    margin: 30px 0 30px 450px;
    padding: 0;
}

#content a {
    color: rgba(0,0,0, 0);
    text-decoration: none;
    outline: none;
}

/* button elements */
.button {
    position: relative;
    display: inline-block;
    width: 200px;
	height: 200px;
    margin: 20px;
    padding: 8px;
}

.button .button_content {
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px;
    outline: none;
    background: rgba(15,15,25, 0);
    transition: all 0.6s;
    text-align: center;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
}

.button:hover .button_content {
    background: rgba(15,15,25, 1);
}

svg {
	position: absolute;
	top: 0;
	left: 0;
}

svg line {
	stroke: #0f0f19;
    stroke-width: 15px;
	fill: none;
	transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
	
}

svg line.top, svg line.bottom {
    stroke-dasharray: 200px;
}

svg line.left, svg line.right {
    stroke-dasharray: 200px;
}

.button:hover svg line.top {
    stroke-width: 10px;
    transform: translateX(-1600px);
    -webkit-transform: translateX(-1600px);
    -moz-transform: translateX(-1600px);
    -o-transform: translateX(-1600px);
}

.button:hover svg line.bottom {
    stroke-width: 10px;
    transform: translateX(1600px);
    -webkit-transform: translateX(1600px);
    -moz-transform: translateX(1600px);
    -o-transform: translateX(1600px);
}

.button:hover svg line.left {
    stroke-width: 10px;
    transform: translateY(1600px);
    -webkit-transform: translateY(1600px);
    -moz-transform: translateY(1600px);
    -o-transform: translateY(1600px);
}

.button:hover svg line.right {
    stroke-width: 10px;
    transform: translateY(-1600px);
    -webkit-transform: translateY(-1600px);
    -moz-transform: translateY(-1600px);
    -o-transform: translateY(-1600px);
}

.button h2 {
    display: table-cell;
    height: 110px;
    width: 180px;
    color: #428bca;
    font-size: 20pt;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 2px;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
}

.button:hover h2 {
    color: #428bca;
    font-size: 25pt;
    letter-spacing: 4px;
}

.button span {
    display: table-cell;
    height: 60px;
    width: 180px;
    color: #000;
    vertical-align: top;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
}

.button:hover span {
    color: #fff;
}

/* footer elements */
#footer {
    display: table-row;
    font-size: 8pt;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}